<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{ this_user.first_name}}!</h1>
    <h3>Successfully registered(or logged in)</h3>
    <a href="/logout">Log Out</a>
    <hr />
    <form action="/add_book" method="post">
        {% csrf_token %}
        <h1>Add a Favorite Book</h1>
        <h2>Title:</h2>
        <input type="text" name="book_title">
        <h2>Description</h2>
        <textarea name="book_des"cols="300" rows="6"></textarea>
        <input type="submit" value="Add">
    </form>
    <hr />
    <h1>All Books</h1>
    {% for book in books %}
    <a href="books/{{ book.id }}">{{book.title}}</a>
    <p>added by {{book.user.first_name}} {{book.user.last_name}}</p>
    <p>this is one of your favorites</p>
    {% endfor %}
</body>
</html>