<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo_Survey_Show</title>
</head>

<body>
    <h1>Submitted Info</h1>
    <p>Name: {{ user_name }}</p>
    <p>Dojo Location: {{ dojo_location }}</p>
    <p>Favorite Language: {{ favorite_language }}</p>
    <p>Comment: {{ comment }}</p>
    <input type="button" value="Go Back">
</body>

</html>