<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ninjagold</title>
</head>

<body>
    <div class="header">
        Your Golds:
        <input type="text" placeholder="golds here" value="">
    </div>
    <form action="/process_money" method="post">
        <input type="hidden" name="building" value="farm" />
        <input type="submit" value="Find Gold!" />
    </form>
    <form action="/process_money" method="post">
        <input type="hidden" name="building" value="cave" />
        <input type="submit" value="Find Gold!" />
    </form>
    <form action="/process_money" method="post">
        <input type="hidden" name="building" value="house" />
        <input type="submit" value="Find Gold!" />
    </form>
    <form action="/process_money" method="post">
        <input type="hidden" name="building" value="casino" />
        <input type="submit" value="Find Gold!" />
    </form>
    <div class="footer">
        <textarea name="textarea" id="" cols="30" rows="10"></textarea>
    </div>
</body>

</html>