<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Information</title>
    <style>
        .nav {
            border: 1px solid black;
            width: 100vw;
        }

        .content {
            width: 100vw;
        }
    </style>
</head>

<body>
    <div class="nav">
        <h1>Test App</h1>
        <a href="/dashboard">Dashboard</a>
        <a href="/users/edit">Profile</a>
        <a href="/logoff">Log Off</a>
    </div>
    <div class="content">
        <h1>{{ show_user.first_name }} {{ show_user.last_name }}</h1>
        <h3>Registered at: {{ show_user.created_at | date:"F d, Y" }}</h3>
        <h3>User ID: #{{ show_user.id }}</h3>
        <h3>Email Address: {{ show_user.email }}</h3>
        <h3>Description: {{ show_user.description }}</h3>
    <hr />
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/users/show/{{ show_user.id }}/leave_message" method="post">
        {% csrf_token %}
        <h1>Leave a message for {{ show_user.first_name}}!:</h1>
        <textarea name="message_content" cols="120" rows="12"></textarea>
        <input type="submit" value="Post">
    </form>
    <hr />
    {% for message in messages_all %}
        <form action="/users/show/{{ show_user.id }}/leave_comment/{{ message.id }}" method="post">
            {% csrf_token %}
            <h3>{{ message.msg_author.first_name }} {{ message.msg_author.last_name }} wrote: {{ message.content }}</h3>
            {% for comment in message.comments.all %}
                <h4>{{ comment.user.first_name }} {{ comment.user.last_name }} wrote:</h4>
                <p>{{ comment.content }}</p>
            {% endfor %}
            <textarea name="comment_content" cols="120" rows="3"></textarea>
            <input type="submit" value="Post">
        </form>
    {% endfor %}
    </div>
</body>

</html>