<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signin Page</title>
    <style>
        .nav {
            border: 1px solid black;
            width: 100vw;
        }

        .content {
            width: 100vw;
        }
    </style>
</head>

<body>
    <div class="nav">
        <h1>Test App</h1>
        <a href="/">Home</a>
        <a href="/signin">Sign In</a>
    </div>
    <div class="content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/signin_verify" method="post">
            {% csrf_token %}
            <h1>Signin</h1>
            <h3>Email Address:</h3>
            <input type="text" name="email_address">
            <h3>Password:</h3>
            <input type="text" name="password">
            <input type="submit" value="Sign In">
        </form>
        <a href="/register">Don't have an account? Register</a>
    </div>
</body>

</html>