<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index-Templates</title>
</head>
<body>
    <div class="header">
        <h1>Your Gold</h1>
        <h1>{{ request.session.gold }}</h1>
    </div>
    <div class="body">
        <div class="farm">
            <form action="/process_money" method="post">
                <h1>Farm</h1>
                <p>(earns 10-20 golds)</p>
                <button type="submit" name="farm_btn">Find Gold</button>
            </form>
        </div>
        <div class="Cave">
            <form action="/process_money" method="post">
                <h1>Farm</h1>
                <p>(earns 5-10 golds)</p>
                <button type="submit" name="cave_btn">Find Gold</button>
            </form>
        </div>
        <div class="House">
            <form action="/process_money" method="post">
                <h1>Farm</h1>
                <p>(earns 2-5 golds)</p>
                <button type="submit" name="house_btn">Find Gold</button>
            </form>
        </div>
        <div class="Casino">
            <form action="/process_money" method="post">
                <h1>Farm</h1>
                <p>(earns 2-5 golds)</p>
                <button type="submit" name="casino_btn">Find Gold</button>
            </form>
        </div>
    </div>
    <div class="footer">
        <h1>Activities</h1>
        {% if activities %}
        <ul>
            {% for class, acticitiy in activities %}
            <li class={{class}}>{{activity}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>