<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h3{
            color:green;
        }
    </style>
</head>
<body>
    <h1>CodingDojo Wall</h1>
    <h1>Success! Welcome, {{ this_user.first_name}}</h1>
    <h3>Successfully registered(or logged in)</h3>
    <a href="/logout">Log Out</a>
    <hr />
    <form action="/post_post" method="post">
        <h2>post a message</h2>
        <textarea name="post_content"cols="300" rows="6"></textarea>
        <input type="submit" value="Post a message">
    </form>
    <hr />
    {% for post in posts%}
    <h3>{{ post.user.first_name }} {{ post.user.last_name }} - {{ post.created_at }}</h3>
    <p>{{ post.content }}</p>
        {% for comment in post.comments.all %}
            <h3>{{ comment.user.first_name }} {{ comment.user.last_name }} - {{comment.created_at}}</h3>
            <p>{{ comment.content }}</p>
        {%endfor%}
        <form action="/post_comment/{{post.id}}" method="post">
            <h3>Post a comment</h3>
            <textarea name="comment_content"cols="300" rows="6"></textarea>
            <input type="submit" value="submit">
        </form>
    {%endfor%}
</body>
</html>