<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Welcome, {{ this_user.first_name}}!</h1>
    <h3>Successfully registered(or logged in)</h3>
    <a href="/books/add">Add Book and Review</a>
    <a href="/logout">Log Out</a>
    <hr />
    <h1>Recent Book Reviews:</h1>
    {% for review in reviews %}
        <a href="books/{{ review.book.id }}">{{ review.book.title }}</a>
        <p>Rating: {{ review.rating }}</p>
        <h3> <a href="/users/{{review.user.id}}">{{ review.user.first_name }}</a> says:{{ review.description }}</h3>
        <h4>Posted on {{ review.created_at | date:"F d, Y" }} </h4>
    {% endfor %}
    <hr />
    <h1>Other Books with Reviews:</h1>
    <div style="border:1px solid black; overflow-x:hidden; height:120px;">
        {% for review in reviews %}
            <a href="/books/{{review.book.id}}" style="display:block">{{ review.book.title}}</a>
        {% endfor %}
    </div>
</body>

</html>