<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Welcome, {{ this_user.first_name}}!</h1>
    <h3>Successfully registered(or logged in)</h3>
    <a href="books/add">Add Book and Review</a>
    <a href="/logout">Log Out</a>
    <hr />
    <h1>Recent Book Reviews:</h1>
    {% for book in books %}
    <a href="books/{{ book.id }}">{{book.title}}</a>
    <p>Rating: {{ book.reviews.rating }}</p>
    <p>added by {{book.user.first_name}} {{book.user.last_name}}</p>
    <p>this is one of your favorites</p>
    {% endfor %}
    <hr />
    <h1>Other Books with Reviews:</h1>
</body>

</html>