<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Are you sure you want to delete the following courses?</h1>
    <h2>Name: {{ this_couse.name }}</h2>
    <h2>Descriotion: {{ this_course.description }}</h2>
    <form action="/real_remove/{{ this_course.id }}" method="post">
        {% csrf_token %}
        <input type="submit" value="No" name="no">
        <input type="sutmit" value="Yes!I want to delete this!" name="yes">
    </form>
</body>
</html>