.container{
    width:100vw;
    opacity:90%;
}
.container .row{
    height:100px;
}
.container .row .box{
    width:100px;
    height:100%;
    box-sizing:border-box;
    display:inline-block;
    margin: 0 -2px;
    padding: 0;
    background:black;
}
.container .row:nth-child(odd) .box:nth-of-type(odd){
    background:red;
}
.container .row:nth-child(even) .box:nth-of-type(even){
    background:red;
} 

