<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>author_view</title>
</head>

<body>
    <h1>{{ author_first_name }} {{ author_last_name }}</h1>
    <h2>ID: {{ author_id }}</h2>
    <h2>Notes:</h2>
    <p>{{ author_notes }}</p>
    <h2>Authors:</h2>
    {% for book in author_books %}
        <h2>{{ book.title }}</h2>
    {% endfor %}
    <form action="/authors/{{author_id}}/add_book2author" method="post">
        {% csrf_token %}
        <select name="book_select">
            {% for book in Books %}
            <option value="{{book.id}}" name="{{book.title}}">{{book.title}}</option>
            {% endfor %}
        </select>
        <input type='submit' name='submit' value='Add'>
    </form>
</body>

</html>